.Project_Template_Main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Project_Template_Image_Box {
    position: relative;
    display: flex;
    max-height: 300%;
    max-width: 1000px;
}
.Project_Template_Image_Text {
    margin-top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.Project_Template_Image_Text:hover {
    opacity: 1;
    backdrop-filter:blur(2px) brightness(75%);

}
.Project_Template_Image {
    height: auto;
    max-width: 95%;
}
.Project_Template_Description_Box {
    display: flex;
    margin-top: 50px;
}

.Project_Template_Box_GitHub {
    background-color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 80px;
    padding-left: 5px;
}
.Project_Template_Image_GitHub {
    height: 100%;
    margin-left: 10px;
    margin-right: -3px;
}
.Project_Template_Text {
    margin-left: 20px;
}

@media only screen and (max-width: 1023px) {
    .Project_Template_Image_Box {
        position: relative;
        display: flex;
        height: auto;
    }
    .Project_Template_Image {
        height: auto;
        max-width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .Project_Template_Description_Box {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .Project_Template_Box_GitHub {
        height: 50px;
        width: 126px;
        margin-bottom: 10px;
    }
  }