:root {
  font-family: "IBM Plex Mono", monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(10, 25, 25), rgb(25, 10, 25));
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-size: 19px;
}